.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* Creará exactamente 4 columnas */
	gap: 20px; /* Espacio entre los elementos de la cuadrícula */
	padding: 20px; /* Espaciado alrededor de la cuadrícula */
	max-width: 1200px; /* Puedes ajustar este valor según el ancho de tus tarjetas y el espacio */
	margin: auto; /* Esto centrará la cuadrícula en la página */
}

.grid-item {
	position: relative;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	height: 300px; /* Ajusta el alto si es necesario */
}

.grid-item:hover {
	transform: scale(1.03); /* Opcional: para un efecto al pasar el mouse */
}

.imagen-bebida {
	width: 100%;
	display: block; /* Asegúrate de que se vea la imagen en bloque */
	border-bottom: 1px solid #ddd; /* Opcional: si quieres una línea entre la imagen y la info */
}

.info-bebida {
	padding: 10px;
	background: rgba(0, 0, 0, 0.7); /* Ajusta la transparencia según tus preferencias */
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%; /* Esto asegura que la barra de info ocupe todo el ancho de la tarjeta */
	box-sizing: border-box; /* Asegura que el padding no aumente el ancho de la barra */
}

/* Si necesitas que el texto no se sobreponga a las estrellas, puedes ajustar los estilos aquí */
.info-bebida h3 {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.info-bebida p {
	margin: 5px 0;
}

.botonPagoMenu {
	position: absolute;
	right: 80px;
	bottom: 80px;
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
}

.logoDuo {
	width: 150px;
}

.encabezado-menu h2 {
	color: #04de04; /* This is a shade of green, adjust as needed */
	margin-right: 10px; /* Add space between the title and the logo */
}

.encabezado-menu {
	display: flex; /* Use flexbox for layout */
	align-items: center; /* Center items vertically */
	justify-content: center; /* Center items horizontally */
	background-color: white; /* Or any color you wish for the background */
	padding: 10px 0; /* Add some padding at the top and bottom */
	position: relative; /* Needed for absolute positioning of the button */
}
