.personalizacion-bebidas {
	display: flex;
	flex-direction: row; /* Alinea los elementos en fila */
	align-items: flex-start; /* Alinea los elementos al inicio de la flexbox */
	gap: 20px; /* Espacio entre la imagen y el formulario */
	padding: 20px; /* Espacio alrededor de todo el contenido */
}

.info-bebida-personalizacion {
	flex: 1; /* Permite que el contenido de la bebida crezca pero con un límite */
	width: 100%;
}

.imagen-bebida-personalizacion {
	width: 100%; /* Hace que la imagen ocupe todo el ancho de su contenedor */
	height: auto; /* Mantiene la proporción de la imagen */
}

.formulario-orden-personalizacion {
	flex: 2; /* Permite que el formulario ocupe el doble de espacio que la imagen */
	max-width: calc(100% - 220px); /* Ocupa el espacio restante, restando el ancho de la imagen y el gap */
}

/* Estilos adicionales para el formulario */
form {
	display: flex;
	flex-direction: column;
}

form label {
	margin: 10px 0;
}

form select,
form button {
	padding: 10px;
	margin-bottom: 10px; /* Espacio entre los elementos del formulario */
}

form button {
	background-color: #4caf50; /* Color de ejemplo para el botón */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form button:hover {
	background-color: #45a049;
}

.orden-actual-personalizacion {
	margin-top: 20px;
}

/* Estilos adicionales para la lista de la orden */
.orden-actual-personalizacion ul {
	list-style: none;
	padding: 0;
}

.orden-actual-personalizacion li {
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 5px;
}
