/* VentanaPago.css */
.ventana-pago {
	background-color: #f7f7f7; /* Fondo gris claro para todo el contenedor */
	padding: 20px;
	border-radius: 8px; /* Bordes redondeados para el contenedor */
}

.ventana-pago ul {
	list-style: none; /* Quita los estilos de lista */
	padding: 0;
}

.ventana-pago li {
	background-color: #ffffff; /* Fondo blanco para cada elemento de la lista */
	border: 1px solid #ddd; /* Borde sutil para cada elemento */
	padding: 10px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between; /* Separa los elementos de la lista */
}

.ventana-pago select,
.ventana-pago input {
	padding: 10px;
	margin: 10px 0;
	border-radius: 4px;
	border: 1px solid #ccc; /* Borde sutil para los campos de entrada */
}

.ventana-pago button {
	padding: 10px 20px;
	background-color: #4caf50; /* Verde para el botón */
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 10px;
}

.ventana-pago button:disabled {
	background-color: #ccc; /* Gris para botón deshabilitado */
}

.ventana-pago button.botonMenu {
	background-color: #81b283; /* Verde para el botón */
}

/* Estilos adicionales para los botones al pasar el mouse */
.ventana-pago button:hover:not(:disabled) {
	background-color: #45a049; /* Verde más oscuro para hover */
}

.ventana-pago button.botonMenu:hover:not(:disabled) {
	background-color: #007ba7; /* Azul más oscuro para hover */
}

.pagoTarjeta input {
	margin-right: 10px;
}
